h1{
    background: linear-gradient(to right rgb(24, 165, 175) 10%, rgb(167, 167, 167) 90%);
    animation: gradientmove 10s ease infinite;
    background-size: 800% 800%;
}
@keyframes gradientmove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}


body{

    /* background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 211, 83, 1) 100%); */
    background:  linear-gradient(to left, rgb(61, 61, 61) 10%, rgb(0, 0, 136) 90% );
    background-size: 800% 800%;
    animation: gradientmove 10s ease infinite;
}
@keyframes gradientmove {
    0%{
        background-position:0% 50%
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.cabecalho{
    border-style: solid;
    width: 50%;
}